#main{
 border: 1px solid red;
}
.banner{
    text-align: center;
    padding: 100px;
}
.Home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    background-color: darkblue;
}